<!-- nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/navigator"
      [queryParams]="{ tab: '0' }"
      aria-current="page"
      >Income</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/navigator" [queryParams]="{ tab: '1' }"
      >Outcome</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/navigator" [queryParams]="{ tab: '2' }"
      >Loans</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/navigator" [queryParams]="{ tab: '3' }"
      >Investments</a
    >
  </li>
</ul>

<!-- list items -->
<ul class="list-group list-group-flush">
  <li class="container list-group-item">
    <div class="row">
      <div class="col-sm text-center">Name</div>
      <div class="col-sm text-center">Amount</div>
    </div>
  </li>

  <li
    class="container list-group-item"
    *ngFor="let item of data | filter: currentRoute"
  >
    <div class="row">
      <div class="col-sm text-center">
        {{ item.name.first }} {{ item.name.last }}
      </div>
      <div class="col-sm text-center">{{ item.amount }}</div>
      <!-- here can be any prop to display -->
    </div>
  </li>
</ul>
