<!-- nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/navigator"
      [queryParams]="{ tab: '0' }"
      aria-current="page"
      >Income</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/navigator" [queryParams]="{ tab: '1' }"
      >Outcome</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/navigator" [queryParams]="{ tab: '2' }"
      >Loans</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/navigator" [queryParams]="{ tab: '3' }"
      >Investments</a
    >
  </li>
</ul>

<!-- list items -->
<ul class="list-group list-group-flush">
  <li class="container list-group-item">
    <div class="row">
      <div class="col-sm text-center">Name</div>
      <div class="col-sm text-center">Account</div>
    </div>
  </li>
  <li class="container list-group-item" *ngFor="let item of [1, 2, 3, 4, 5]">
    <div class="row">
      <div class="col-sm text-center">{{ item }}</div>
      <div class="col-sm text-center">value</div>
    </div>
  </li>
</ul>
