<div class="card">
  <div class="card-body text-center">
    <h5 class="card-title">Welcome</h5>
    <p class="card-text">
      With supporting text bellow as a natural lead-in to additional content
    </p>
    <a
      routerLink="/navigator"
      [queryParams]="{ tab: '0' }"
      class="btn btn-primary"
      >See transactions</a
    >
  </div>
  <div class="card-footer text-center">
    You have {{ data.length }} transactions
  </div>
</div>

<div class="cards-container">
  <div
    class="card"
    *ngFor="let type of types; let i = index"
    style="width: 40rem"
  >
    <div class="card-body text-center">
      <h5 class="card-title">{{ (data | filter: i.toString()).length }}</h5>
      <p>{{ type }}</p>
      <a
        routerLink="/navigator"
        [queryParams]="{ tab: i.toString() }"
        class="btn btn-primary"
        >See all</a
      >
    </div>
  </div>
</div>
